<%= div_for task do %>
  <div class="task-links">
    <%= link_to "Edit", edit_task_path(task) %>
    <%= link_to "Delete", task, method: :delete, remote: true, class: "delete-task", data: { task: "#{task.id}" } %>
  </div>

  <div class="task-content" data-task="<%= task.id %>" id="<%= task.id %>">
    <%= task.title %>
  </div>
<% end %>
