<%= div_for task do %>
  <div class="task-links">
    <%= link_to "Delete", task, method: :delete, remote: true, class: "delete-task", data: { task: "#{task.id}" } %>
  </div>

  <div class="task-content" id="task_<%= task.id %>_content" data-task="<%= task.id %>">
    <%= task.title %>
  </div>

  <div class="task-edit">
    <%= form_for(task, remote: true) do |form| %>
      <%= form.text_field :title %>
    <% end %>
  </div>
<% end %>
