<h1>New Task</h1>

<%= form_for @task do |form| %>
  <%= render "errors", object: @task %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Create Task" %>
  </div>
<% end %>
