<h1><%= current_user.email %>'s Tasks</h1>

<div>
  <%= form_for(@task, remote: true) do |form| %>
    <%= form.text_field :title, placeholder: "New Task" %>
    <%= form.submit "Create Task" %>
  <% end %>
</div>

<div id="tasks">
  <%= render current_user.tasks %>
</div>
