<h1><%= current_user.email %>'s Tasks</h1>

<div>
  <%= form_for @task do |form| %>
    <%= form.text_field :title, placeholder: "New Task" %>
    <%= form.submit "Create Task" %>
  <% end %>
</div>

<div id="tasks">
  <%= render current_user.tasks %>
</div>

<script type="text/javascript">
  $(function() {
    $("#new_task").submit(function() {
      $.post(
        "/tasks",
        { task: // task[title] = "foo"
          { title: $("#task_title").val() }
        },
        function(data) {
          $("#tasks").prepend(data);
          $("#task_title").val("");
        }
      );
      return false;
    });

    $("a.delete-task").click(function() {
      var task_id = $(this).data("task");
      $.ajax(
        "/tasks/" + task_id,
        {
          type: "DELETE",
          success: function(data) {
            $("#task_" + task_id).fadeOut("slow", function() {
              this.remove()
            });
          }
        }
      );
      return false;
    });
  });
</script>
