<!DOCTYPE html>
<html>
<head>
  <title>Taskr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <div class="title">
    <%= link_to "Taskr", root_path %>
  </div>

  <% if signed_in? %>
    <div class="sign_out">
      <%= link_to "Sign Out", session_path, method: :delete %>
    </div>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
